@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed");
@import url('https://fonts.googleapis.com/css?family=Orbitron');

@font-face{
    font-family: 'DS-DIGITAL';
    src: url('https://res.cloudinary.com/dzsmdyknz/raw/upload/v1532588680/fcc-drum-machine/ds-digital-font/DS-DIGIT.TTF');
    src: url('https://res.cloudinary.com/dzsmdyknz/raw/upload/v1532588680/fcc-drum-machine/ds-digital-font/DS-DIGIB.TTF');
    src: url('https://res.cloudinary.com/dzsmdyknz/raw/upload/v1532588679/fcc-drum-machine/ds-digital-font/DS-DIGII.TTF');
    src: url('https://res.cloudinary.com/dzsmdyknz/raw/upload/v1532588679/fcc-drum-machine/ds-digital-font/DS-DIGI.TTF');
}

body{
  font-family: "Saira Semi Condensed", sans-serif;
  background: #ecf0f1;
  margin: 0;
  padding: 0;
}

#drum-machine {
	width: 95vw;
	max-width: 300px;
	height: 100vh;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#inner-container {
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 2px 2px 2px 2px black;
}

#display {
	background-color: black;
	color: white;
	width: 100%;
	height: 80px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#inner-screen {
	background-color: #3C4C65;
	width: 80%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

#drum-pads {
	width: 100%;
	padding-top: 10%;
	padding-bottom: 25%;
	background-color: gray;
	display: grid;
	grid-template-columns: repeat(3, 77px);
	grid-template-rows: repeat(3, 75px);
	justify-content: center;
	align-items: center;
}


.drum-pad {
	width: 65px;
	height: 65px;
	color: white;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
	background-color: black;
	border-radius: 15px;
	box-shadow: 0px 0px .5px .5px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .1s;
}

#sound-pads {
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  display: grid;
  border-color: black;
  border-style: solid;
  overflow-x: hidden;
  width: 100%;
}
#project {
  font-size: 35px;
  text-align: center;
  color: tomato;
}
p{
  font-size: 1.9rem;
  font-family: 'DS-DIGITAL', sans-serif;
  font-style: italic;
}